<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Reddit</title>
</head>
<body>
    <form th:action="@{/process}" th:object="${redditClone}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br/>
        <label>Username: </label><input type="text" th:field="*{username}"/>

        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>
        <label>Title: </label><input type="text" th:field="*{title}"/>


        <span th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></span><br/>
        <label>Link: </label><input type="text" th:field="*{url}"/>


        <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span><br/>
        <label>Date: </label><input type="text" th:field="*{date}"/>

        <br />
        <input type="submit" value="add" />

    </form>
</body>
</html>